<nb-card>
  <nb-card-header>Conceptos</nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item #item *ngFor="let c of concepts">
        <nb-accordion-item-header>
          {{c.title}}
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset>
            <nb-tab tabTitle="Español">
              <concept-form-translation [conceptId]="c.id" [concName]="c.title" [concDescription]="c.description"
                [lang]="'es'" (valuesChanged)=onTitleChanged($event)>
              </concept-form-translation>
            </nb-tab>
            <nb-tab tabTitle="Inglés">
              <concept-form-translation [conceptId]="c.id" [concName]="c.titleEN" [concDescription]="c.descriptionEN"
                [lang]="'en'"></concept-form-translation>
            </nb-tab>
            <nb-tab tabTitle="Italiano">
              <concept-form-translation [conceptId]="c.id" [concName]="c.titleIT" [concDescription]="c.descriptionIT"
                [lang]="'it'"></concept-form-translation>
            </nb-tab>
          </nb-tabset>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>