.reset{
    cursor: pointer;
    font-size: small;
    color:#598bff !important;
    &:hover{
        font-weight: bold;
    }
}
.iconClass{
    cursor: pointer;
    &:hover{
        color:#598bff;
    }
}