<div fxLayout="row" style="max-width:450px; overflow-x: auto; min-height:85px;">

  <div fxLayout="column" fxLayoutAlign="center center" *ngFor="let img of images;  let i = index" class="images">
    <ngx-avatar [src]="img.src" [round]="false" [size]="size"></ngx-avatar>
    <span *ngIf="hideRemoveButton===false" class="remove-image-icon" (click)="removeImage(img,i)">Quitar</span>
  </div>

  <div *ngIf="hideAddButton===false && currentCount<maxImagesCount" fxLayout="column" class="add-images-container"
    style="display: flex; justify-content: space-around;"
    onclick="document.getElementById('upload').click(); return false">
    <span>Imágen <nb-icon icon="plus-outline"></nb-icon>
    </span>
  </div>

  <input id="upload" type="file" [multiple]="true" ngFileSelect [uploadInput]="uploadInput"
    (change)="changeListener($event)" style="visibility: hidden; width: 1px; height: 1px">
</div>