<nb-card>
  <nb-card-header>
    Usuarios
  </nb-card-header>

  <nb-card-body>
    <div class="text-right mb-2">
      <nb-select placeholder="Filtro por Estado" [(selected)]="currentFilerSelection"
        (selectedChange)="selectionChange($event)">
        <nb-option [value]="-1">Todos</nb-option>
        <nb-option [value]="0">Pendiente</nb-option>
        <nb-option [value]="1">Inactivo</nb-option>
        <nb-option [value]="2">Activo</nb-option>
      </nb-select>
    </div>

    <div class="text-right mb-3" *ngIf="showReset==true"><a (click)="reset()" class="reset">Limpiar</a></div>

    <ngx-datatable class="material" [headerHeight]="40" [footerHeight]="40" [rows]="users" [rowHeight]="50"
      [loadingIndicator]="loadingIndicator" [columnMode]="ColumnMode" [externalPaging]="true" [count]="total"
      [offset]="page" [limit]="perPage" (page)="setPage($event)" [externalSorting]="true" (sort)="setSort($event)">
      <ngx-datatable-column [sortable]="false">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <nb-user [onlyPicture]="true" [picture]="row.avatar===''?'assets/images/no-photo.png': row.avatar"
            style="margin-top:-10px;">
          </nb-user>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="fullName" name="Nombre">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="email" name="Correo">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="phone" name="Teléfono">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="status" name="Estado">
      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>