<div style="overflow-x: hidden;">

  <span *ngIf="role==='group_admin'">
    We need to work on a dashboard for the group admin.
  </span>

  <div nz-row nzGutter="8" *ngIf="role==='admin'">
    <div nz-col nzSpan="12">
      <app-user-stats></app-user-stats>
    </div>
    <div nz-col nzSpan="12">
      <app-eat-stats></app-eat-stats>
    </div>
  </div>

  <div nz-row nzGutter="8" *ngIf="role==='admin'">
    <div nz-col nzSpan="12">
      <app-user-stats-bydate></app-user-stats-bydate>
    </div>
    <div nz-col nzSpan="12">
      <app-user-ages></app-user-ages>
    </div>
  </div>

</div>
