<nb-card>
  <nb-card-header>
    Dato Personales
  </nb-card-header>

  <nb-card-body>
    <ngx-datatable class="material" [headerHeight]="40" [footerHeight]="40" [rowHeight]="50" [columnMode]="ColumnMode"
      [loadingIndicator]="isLoading" [rows]="pDatas" [limit]="perPage">
      <ngx-datatable-column [sortable]="true" prop="name" name="Nombre">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="measureUnit" name="Unidad de Medida">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="order" name="Posición">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="type" name="Tipo de Dato">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="createdAt" name="Creado">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="true" prop="modifiedAt" name="Modificado">
      </ngx-datatable-column>
      <ngx-datatable-column [sortable]="false" name="Acciones">

      </ngx-datatable-column>
    </ngx-datatable>
  </nb-card-body>
</nb-card>