<nb-card>
  <nb-card-header>Usuarios del Sistema: {{total}}</nb-card-header>
  <nb-card-body>
    <div style="display: flex; justify-content: space-between;">
      <span class="text-success">Activos: {{active}}</span>
      <span class="text-warning">Por Activar: {{pending}}</span>
      <span class="text-danger">Deshabililtados: {{disabled}}</span>
    </div>
    <div style="width: 600px; height: 400px;">
      <ngx-charts-pie-chart [results]="userStats" labels="true" [trimLabels]="false" [explodeSlices]="true">
      </ngx-charts-pie-chart>
    </div>
  </nb-card-body>
</nb-card>