<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar" nzCollapsible nzWidth="256px" nzBreakpoint="md" [(nzCollapsed)]="isCollapsed"
    [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="/home">
        <!-- <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo"> -->
        <img src="assets/images/logo.png" alt="logo">
        <h1>PlaniFive</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Dashboard' : ''"
        routerLink="/home/dashboard">
        <i nz-icon nzType="home"></i>
        <span>Dashboard</span>
      </li>
      <li *ngIf="role==='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Usuarios' : ''" routerLink="/home/users">
        <i nz-icon nzType="team"></i>
        <span>Usuarios</span>
      </li>
      <li *ngIf="role!=='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Usuarios' : ''" routerLink="/home/users/group-users">
        <i nz-icon nzType="team"></i>
        <span>Usuarios</span>
      </li>
      <li *ngIf="role==='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Conceptos' : ''" routerLink="/home/concepts">
        <i nz-icon nzType="unordered-list"></i>
        <span>Conceptos</span>
      </li>
      <li *ngIf="role==='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Cuestionarios' : ''" routerLink="/home/polls">
        <i nz-icon nzType="question"></i>
        <span>Cuestionarios</span>
      </li>
      <li *ngIf="role==='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Platos' : ''" routerLink="/home/dishes">
        <i nz-icon nzType="book"></i>
        <span>Platos</span>
      </li>
      <li *ngIf="role==='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Mensajes' : ''" routerLink="/home/messages">
        <i nz-icon nzType="mail"></i>
        <span>Mensajes</span>
      </li>
      <li *ngIf="role==='admin'" nz-menu-item nz-tooltip nzTooltipPlacement="right"
        [nzTooltipTitle]="isCollapsed ? 'Grupos' : ''" routerLink="/home/groups">
        <i nz-icon nzType="group"></i>
        <span>Grupos</span>
      </li>
      <li nz-menu-item nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="isCollapsed ? 'Menús' : ''"
        routerLink="/home/menus">
        <i nz-icon nzType="menu"></i>
        <span>Menús</span>
      </li>


    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div style="display: flex; background: #fff;justify-content: space-between;">
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger" nz-icon [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"></i>
          </span>
        </div>
        <div style="padding-right: 24px;">
          <nz-avatar nzIcon="user" [nzSrc]="user?.avatar===''?'assets/images/no-photo.png': user?.avatar"></nz-avatar>

          <a nz-dropdown [nzDropdownMenu]="menu">
            Yoandry Leon
            <i nz-icon nzType="down"></i>
          </a>
          <nz-dropdown-menu #menu="nzDropdownMenu">
            <ul nz-menu>
              <li nz-menu-item (click)="changePassword()">Cambiar Contraseña</li>
              <li nz-menu-divider></li>
              <li nz-menu-item (click)="logout()">Salir</li>
            </ul>
          </nz-dropdown-menu>

        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
