<div [ngClass]="{'read-only': pollReadOnly===true, 'not-read-only': pollReadOnly===false}">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div [ngClass]="{'col-sm-4': pollReadOnly===true, 'col-sm-12': pollReadOnly===false}">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Nombre</label>
                <input type="text" nbInput fullWidth placeholder="Nombre" name="pollName" [formControl]="nameControl"
                  [status]="nameControl.dirty ? (nameControl.invalid  ? 'danger' : 'success') : 'basic'"
                  [required]="true">
                <ng-container *ngIf="nameControl.invalid && nameControl.touched">
                  <p class="caption status-danger" *ngIf="nameControl.errors?.required">
                    Debe introducir un nombre para el cuestionario.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Descripción</label>
                <textarea rows="5" nbInput fullWidth shape="round" placeholder="Descripción" name="pollDescription"
                  [formControl]="descriptionControl" [status]="'basic'"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8" *ngIf="pollReadOnly===true">
          <label class="label">Contenido HTML</label>
          <my-tiny-mce [content]="pollHtmlContent" (editorKeyup)="onContentChange($event)"></my-tiny-mce>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" nbButton [disabled]="!nameControl.valid || isLoading===true"
        (click)="saveTranslation()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</div>