<div style="width:900px;">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Contenido</label>
            <my-tiny-mce [content]="content" (editorKeyup)="onContentChange($event)"></my-tiny-mce>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="isLoading===true" (click)="saveTranslation()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</div>