<nb-layout>
  <nb-layout-column>
    <message-table [messages]="results" [isLoading]="isLoading" [page]="page" [perPage]="perPage" [total]="total"
      [showReset]="resetIsNeeded" (paged)="onPaged($event)" (priorityFiltered)="onPriorityFiltered($event)"
      (readFiltered)="onReadFiltered($event)" (sorted)="onSorted($event)" (reseted)="onReseted($event)"
      (refreshMessagesRead)="onRefreshMessagesRead($event)"
      (refreshMessagesAnswered)="onRefreshMessagesAnswered($event)"
      (refreshMessagesImportant)="onRefreshMessagesImportant($event)">
    </message-table>
  </nb-layout-column>

</nb-layout>