<div style="width:500px;">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="label">Contraseña actual</label>
            <input type="password" nbInput fullWidth placeholder="Contraseña actual" name="oldPass"
              [formControl]="oldPass" [status]="oldPass.dirty ? (oldPass.invalid  ? 'danger' : 'success') : 'basic'">
            <ng-container *ngIf="oldPass.invalid && oldPass.touched">
              <p class="caption status-danger" *ngIf="oldPass.errors?.required">
                Debe introducir la contraseña actual.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="label">Nueva contraseña</label>
            <input type="password" nbInput fullWidth placeholder="Nueva contraseña" name="newPass"
              [formControl]="newPass" [status]="newPass.dirty ? (newPass.invalid  ? 'danger' : 'success') : 'basic'">
            <ng-container *ngIf="newPass.invalid && newPass.touched">
              <p class="caption status-danger" *ngIf="newPass.errors?.required">
                Debe introducir la nueva contraseña.
              </p>
              <p class="caption status-danger" *ngIf="!newPass.errors?.required">
                La contraseña debe tener: 6 caracteres, 1 caracter especial, 1 mayúscula y 1 número.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label class="label">Confirme nueva contraseña</label>
            <input type="password" nbInput fullWidth placeholder="Confirme nueva contraseña" name="confirmPass"
              [formControl]="confirmPass"
              [status]="confirmPass.dirty ? (confirmPass.invalid || confirmPass.value!==newPass.value  ? 'danger' : 'success') : 'basic'">
            <ng-container *ngIf="confirmPass.touched && (confirmPass.dirty || confirmPass.value!==newPass.value)">
              <p class="caption status-danger" *ngIf="confirmPass.dirty && confirmPass.value!==newPass.value">
                Debe confirmar la nueva contraseña.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button type="submit" nbButton [disabled]="!oldPass.valid || !newPass.valid || !confirmPass.valid || isLoading"
        (click)="changePass()">Salvar</button>
      <button nbButton status="basic" (click)="close()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>