<div style="width:600px;">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group">
            <label class="label">Plato</label>
            <input type="text" nbInput fullWidth placeholder="Plato" name="name" [formControl]="nameControl"
              [status]="nameControl.dirty ? (nameControl.invalid  ? 'danger' : 'success') : 'basic'" [required]="true">
            <ng-container *ngIf="nameControl.invalid && nameControl.touched">
              <p class="caption status-danger" *ngIf="nameControl.errors?.required">
                Debe introducir el nombre del plato.
              </p>
            </ng-container>
          </div>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="!nameControl.valid || isLoading===true" (click)="saveTranslation()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</div>