<div style="width:1000px;">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <div class="row mb-3">
        <div class="col-sm-12">
          <div style="font-weight: bold;" class="mb-2">Cuestionario:</div>
          <div> {{poll.name}}</div>
        </div>
      </div>

      <div class="row">
        <!-- tips up -->
        <div class="col-sm-6" style="max-height: 400px; overflow-y: auto;">
          <div class="row">
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2">Consejos (Arriba):</div>
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2 text-right">
              <button nbTooltip="Adicionar" nbButton ghost (click)="newTip(0)" size="tiny">
                <nb-icon icon="plus-outline" title="Adicionar"></nb-icon>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">Consejo</div>
          </div>
          <nb-list>
            <nb-list-item *ngFor="let q of top" [ngClass]="{'active-bg': q.isActive===true}">
              <div class="row">
                <div class="col-sm-3" *ngIf="showInput===false || selectedTip?.id!==q.id">
                  <div class="row">
                    <button nbTooltip="Eliminar" nbButton ghost (click)="deleteTip(q, dialog, 0)" size="tiny"
                      style="margin-top:-5px;">
                      <nb-icon icon="trash-outline" title="Eliminar"></nb-icon>
                    </button>
                    <button *ngIf="q.isActive===false" nbTooltip="Activar" nbButton ghost (click)="activeTip(q,0)"
                      size="tiny" style="margin-top:-5px;">
                      <nb-icon icon="done-all-outline" title="Activar"></nb-icon>
                    </button>
                  </div>
                </div>
                <div class="col-sm-9" (dblclick)="inlineEdition(q)" *ngIf="showInput===false || selectedTip?.id!==q.id">
                  <span *ngIf="q.isActive===true" style="font-weight: bold;">{{ q.content }} </span>
                  <span *ngIf="q.isActive===false">{{ q.content }} </span>
                </div>

                <div class="col-sm-12" *ngIf="showInput===true && selectedTip?.id===q.id">
                  <input type="text" nbInput fullWidth [(ngModel)]="tipName" #tipTitleElement tabindex="-1"
                    (focusout)="hideInput(0)"
                    [status]="showInput===true ? (tipName===''  ? 'danger' : 'success') : 'basic'" />
                  <ng-container *ngIf="showInput===true && tipName===''">
                    <p class="caption status-danger">
                      Debe introducir un valor.
                    </p>
                  </ng-container>
                </div>


              </div>
            </nb-list-item>
          </nb-list>
        </div>
        <!-- end tips up -->
        <!-- tips bottom -->
        <div class="col-sm-6" style="max-height: 400px; overflow-y: auto;">
          <div class="row">
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2">Consejos (Abajo):</div>
            <div style="font-weight: bold;" class="col-sm-6 mb-2 mt-2 text-right">
              <button nbTooltip="Adicionar" nbButton ghost (click)="newTip(1)" size="tiny">
                <nb-icon icon="plus-outline" title="Adicionar"></nb-icon>
              </button>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">Consejo</div>
          </div>
          <nb-list>
            <nb-list-item *ngFor="let q of bottom" [ngClass]="{'active-bg': q.isActive===true}">
              <div class="row">
                <div class="col-sm-3" *ngIf="showInput===false || selectedTip?.id!==q.id">
                  <div class="row">
                    <button nbTooltip="Eliminar" nbButton ghost (click)="deleteTip(q, dialog, 1)" size="tiny"
                      style="margin-top:-5px;">
                      <nb-icon icon="trash-outline" title="Eliminar"></nb-icon>
                    </button>
                    <button *ngIf="q.isActive===false" nbTooltip="Activar" nbButton ghost (click)="activeTip(q,1)"
                      size="tiny" style="margin-top:-5px;">
                      <nb-icon icon="done-all-outline" title="Activar"></nb-icon>
                    </button>
                  </div>
                </div>
                <div class="col-sm-9" (dblclick)="inlineEdition(q)" *ngIf="showInput===false || selectedTip?.id!==q.id">
                  <span *ngIf="q.isActive===true" style="font-weight: bold;">{{ q.content }} </span>
                  <span *ngIf="q.isActive===false">{{ q.content }} </span>
                </div>

                <div class="col-sm-12" *ngIf="showInput===true && selectedTip?.id===q.id">
                  <input type="text" nbInput fullWidth [(ngModel)]="tipName" #tipTitleElement tabindex="-1"
                    (focusout)="hideInput(1)"
                    [status]="showInput===true ? (tipName===''  ? 'danger' : 'success') : 'basic'" />
                  <ng-container *ngIf="showInput===true && tipName===''">
                    <p class="caption status-danger">
                      Debe introducir un valor.
                    </p>
                  </ng-container>
                </div>


              </div>
            </nb-list-item>
          </nb-list>
        </div>
        <!-- end tips bottom -->
      </div>



    </nb-card-body>
    <nb-card-footer>
      <!-- <button nbButton (click)="saveTips()">Actualizar</button> -->
      <button nbButton status="basic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>


<ng-template #dialog let-data let-ref="dialogRef">
  <div style="width:600px;">
    <nb-card>
      <nb-card-header>Eliminar Consejo</nb-card-header>
      <nb-card-body>
        ¿Confirma la eliminación del consejo?
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="deleteTipDialog(ref)">Confirmar</button>
        <button nbButton status="basic" (click)="dismissDeleteTip(ref)" style="float: right;">Cancelar</button>
      </nb-card-footer>
    </nb-card>
  </div>
</ng-template>