<div nz-row>
  <label nz-typography><strong>Título:</strong></label>
  <input nz-input [(ngModel)]="subject" name="subject" placeholder="">
</div>
<div nz-row style="margin-top: 10px;">
  <label nz-typography><strong>Cuerpo: </strong></label>
  <textarea nz-input [nzAutosize]="{ minRows: 3, maxRows: 5 }" [(ngModel)]="body"></textarea>
</div>

<nz-divider></nz-divider>
<div nz-row nzJustify="end" #nzFooter>
  <button nz-button nzType="default" (click)="close()" style="margin-right:10px;">Cancelar</button>
  <button nz-button nzType="primary" (click)="send()" [nzLoading]="isLoading"
    [disabled]="subject.length===0 || body.length===0">Enviar</button>
</div>
