<div style="width:800px;">
  <nb-card style="max-height: 620px;">
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
      <nb-tabset>
        <nb-tab tabTitle="Datos Principales">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="inputFirstName" class="label">Nombre</label>
                <input type="text" nbInput fullWidth id="inputFirstName" placeholder="Nombre" name="dishName"
                  [formControl]="dishName"
                  [status]="dishName.dirty ? (dishName.invalid  ? 'danger' : 'success') : 'basic'" [required]="true">
                <ng-container *ngIf="dishName.invalid && dishName.touched">
                  <p class="caption status-danger" *ngIf="dishName.errors?.required">
                    Debe introducir un nombre para el plato.
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Calorías (Kcal)</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="dishCalories"
                  [formControl]="dishCalories" pattern="^\d+(?:\.\d{1,4})?$"
                  [status]="dishCalories.dirty ? (dishCalories.invalid  ? 'danger' : 'success') : 'basic'"
                  [required]="true">
                <ng-container *ngIf="dishCalories.invalid && dishCalories.touched">
                  <p class="caption status-danger" *ngIf="dishCalories.errors?.required">
                    Debe introducir un valor.
                  </p>
                  <p class="caption status-danger" *ngIf="!dishCalories.errors?.required">
                    Debe introducir un valor entero.
                  </p>
                </ng-container>
              </div>

            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Carbohidratos (g)</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" pattern="^\d+(?:\.\d{1,4})?$"
                  name="dishCarbohidrates" [formControl]="dishCarbohidrates"
                  [status]="dishCarbohidrates.dirty ? (dishCarbohidrates.invalid  ? 'danger' : 'success') : 'basic'"
                  [required]="true">
                <ng-container *ngIf="dishCarbohidrates.invalid && dishCarbohidrates.touched">
                  <p class="caption status-danger" *ngIf="dishCarbohidrates.errors?.required">
                    Debe introducir un valor.
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Proteínas (g)</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" pattern="^\d+(?:\.\d{1,4})?$"
                  name="dishProteins" [formControl]="dishProteins"
                  [status]="dishProteins.dirty ? (dishProteins.invalid  ? 'danger' : 'success') : 'basic'"
                  [required]="true">
                <ng-container *ngIf="dishProteins.invalid && dishProteins.touched">
                  <p class="caption status-danger" *ngIf="dishProteins.errors?.required">
                    Debe introducir un valor.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Grasas (g)</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" pattern="^\d+(?:\.\d{1,4})?$"
                  name="dishFat" [formControl]="dishFat"
                  [status]="dishFat.dirty ? (dishFat.invalid  ? 'danger' : 'success') : 'basic'" [required]="true">
                <ng-container *ngIf="dishFat.invalid && dishFat.touched">
                  <p class="caption status-danger" *ngIf="dishFat.errors?.required">
                    Debe introducir un valor.
                  </p>
                </ng-container>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Fibras (g)</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" pattern="^\d+(?:\.\d{1,4})?$"
                  name="dishFiber" [formControl]="dishFiber"
                  [status]="dishFiber.dirty ? (dishFiber.invalid  ? 'danger' : 'success') : 'basic'" [required]="true">
                <ng-container *ngIf="dishFiber.invalid && dishFiber.touched">
                  <p class="caption status-danger" *ngIf="dishFiber.errors?.required">
                    Debe introducir un valor.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Tags</label>
                <ng-select [items]="allTags" [addTag]="addTagFn" multiple="true" bindLabel="name"
                  [(ngModel)]="selectedTags" [multiple]="true" [closeOnSelect]="false">
                </ng-select>
              </div>
            </div>

            <div class="col-sm-6">
              <div class="form-group">
                <label class="label">Imagen</label>
                <app-upload-images [images]="images" [imagesToSend]="imagesToSend" (imageAdded)="onImageAdded($event)"
                  (imageRemoved)="onImageRemoved($event)"></app-upload-images>
              </div>
            </div>
          </div>
        </nb-tab>
        <nb-tab tabTitle="Otros Datos">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <!-- TODO: un select con el tipo de plato -->
                <label class="label">Clasificación</label>
                <ng-select [items]="allClassifications" multiple="false" bindLabel="name"
                  [(ngModel)]="selectedClassification" [multiple]="false" [closeOnSelect]="true">
                </ng-select>
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Peso Neto</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="netWeight" [formControl]="netWeight"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Volumen</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="volume" [formControl]="volume"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Grasas Sat.</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="satFat" [formControl]="satFat"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Grasas Monoinsat.</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="monoInsatFat"
                  [formControl]="monoInsatFat" pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Grasas Poli.</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="polySatFat"
                  [formControl]="polySatFat" pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Colesterol</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="cholesterol"
                  [formControl]="cholesterol" pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina A</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminA" [formControl]="vitaminA"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Tiamina</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="tiamin" [formControl]="tiamin"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Riboflavina</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="riboflavin"
                  [formControl]="riboflavin" pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Niacina</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="niacin" [formControl]="niacin"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina B6</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminB6" [formControl]="vitaminB6"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Folato</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="folato" [formControl]="folato"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina B12</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminB12"
                  [formControl]="vitaminB12" pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina C</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminC" [formControl]="vitaminC"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina D</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminD" [formControl]="vitaminD"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina E</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminE" [formControl]="vitaminE"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Vitamina K</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="vitaminK" [formControl]="vitaminK"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Calcio</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="calcium" [formControl]="calcium"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Fósforo</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="phosphorus"
                  [formControl]="phosphorus" pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Hierro</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="iron" [formControl]="iron"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Zinc</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="zync" [formControl]="zync"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Potasio</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="potassium" [formControl]="potassium"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Sodio</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="sodium" [formControl]="sodium"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3">
              <div class="form-group">
                <label class="label">Alcohol</label>
                <input type="number" nbInput fullWidth min="0.0" step="0.01" name="alcohol" [formControl]="alcohol"
                  pattern="^\d+(?:\.\d{1,4})?$">
              </div>
            </div>

          </div>

        </nb-tab>
      </nb-tabset>

    </nb-card-body>
    <nb-card-footer>
      <button type="submit" nbButton [disabled]="!dishName.valid || !dishCalories.valid
      || !dishFat.valid || !dishFiber.valid || !dishCarbohidrates.valid
      || !dishProteins.valid || isLoading===true" (click)="saveDish()">Salvar</button>
      <button nbButton status="basic" (click)="close()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>
