<nb-card>
  <nb-card-body>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFirstName" class="label">Nombre</label>
          <input type="text" nbInput fullWidth id="inputFirstName" placeholder="Nombre" name="dishName"
            [formControl]="dishName">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputLastName" class="label">Calorías (Kcal)</label>
          <input type="number" nbInput fullWidth id="inputLastName" required min="0" name="dishCalories"
            [formControl]="dishCalories">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputCarbohidratos" class="label">Carbohidratos (g)</label>
          <input type="number" nbInput fullWidth id="inputCarbohidratos" required min="0" step="0.01"
            pattern="^\d+(?:\.\d{1,2})?$" name="dishCarbohidrates" [formControl]="dishCarbohidrates">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputProteins" class="label">Proteínas (g)</label>
          <input type="number" nbInput fullWidth id="inputProteins" required min="0" step="0.01"
            pattern="^\d+(?:\.\d{1,2})?$" name="dishProteins" [formControl]="dishProteins">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFat" class="label">Grasas (g)</label>
          <input type="number" nbInput fullWidth id="inputFat" required min="0" step="0.01"
            pattern="^\d+(?:\.\d{1,2})?$" name="dishFat" [formControl]="dishFat">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFiber" class="label">Fibras (g)</label>
          <input type="number" nbInput fullWidth id="inputFiber" required min="0" step="0.01"
            pattern="^\d+(?:\.\d{1,2})?$" name="dishFiber" [formControl]="dishFiber">
        </div>
      </div>
    </div>
    <div class="row" style="border:1px solid red;">
      <div class="col-sm-6" style="border:1px solid yellow;">
        <!-- <div class="form-group">
          <label for="inputFat" class="label">Grasas (g)</label>
          <input type="number" nbInput fullWidth id="inputFat" required min="0" step="0.01"
            pattern="^\d+(?:\.\d{1,2})?$" name="dishFat" [formControl]="dishFat">
        </div> -->
        <app-upload-images [images]="images" [imagesToSend]="imagesToSend" (imageAdded)="onImageAdded($event)"
          (imageRemoved)="onImageRemoved($event)"></app-upload-images>
      </div>
      <!-- <div class="col-sm-6">
        <div class="form-group">
          <label for="inputFiber" class="label">Fibras (g)</label>
          <input type="number" nbInput fullWidth id="inputFiber" required min="0" step="0.01" pattern="^\d+(?:\.\d{1,2})?$"
            name="dishFiber" [formControl]="dishFiber">
        </div>
      </div> -->
    </div>
    <button type="submit" nbButton
      [disabled]="!dishName.valid || !dishCalories.valid || !dishFat.valid || !dishFiber.valid || !dishCarbohidrates.valid || !dishProteins.valid">Submit</button>
  </nb-card-body>
</nb-card>