<nb-card>
  <nb-card-header>
    <div class="row">
      <div class="col-sm-6">Respuestas</div>
      <div class="col-sm-6 text-right">
        <nb-checkbox status="primary" (checkedChange)="onCheckedChange($event)">Por Traducir</nb-checkbox>
      </div>
    </div>
  </nb-card-header>
  <nb-card-body>
    <p *ngIf="!answers||answers.length===0">Sin datos que mostrar</p>
    <nb-accordion>
      <nb-accordion-item #item *ngFor="let c of answers">
        <nb-accordion-item-header>
          <div class="row" style="width: 100%;">
            <div class="col-12">
              {{c.title}}
              <div class="row pl-3 misme-subtitle">Cuestionario: {{c.pollName}}</div>
            </div>
            <div class="col-12">
              <div class="row pl-3">
                <div class="mr-1 lang-name">ES</div>
                <div *ngIf="c.titleEN?.length>0" class="mr-1 lang-name">EN</div>
                <div *ngIf="c.titleIT?.length>0" class="lang-name">IT</div>
              </div>
            </div>
          </div>
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          <nb-tabset>
            <nb-tab tabTitle="Español">
              <answer-form-translate [answerId]="c.id" [title]="c.title" [lang]="'es'" [order]='c.order'
                (valuesChanged)='onContentChanged($event)'>
              </answer-form-translate>
            </nb-tab>
            <nb-tab tabTitle="Inglés">
              <answer-form-translate [answerId]="c.id" [title]="c.titleEN" [lang]="'en'" [order]='c.order'
                (valuesChanged)='onContentChanged($event)'>
              </answer-form-translate>
            </nb-tab>
            <nb-tab tabTitle="Italiano">
              <answer-form-translate [answerId]="c.id" [title]="c.titleIT" [lang]="'it'" [order]='c.order'
                (valuesChanged)='onContentChanged($event)'>
              </answer-form-translate>
            </nb-tab>
          </nb-tabset>

        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>