<div nz-row nzGutter="8" style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <label nz-typography><strong>Título:</strong></label>
    <input nz-input [(ngModel)]="nameString" name="nameString" placeholder="">
  </div>
</div>

<div nz-row nzGutter="8" style="margin-top: 10px;">
  <div nz-col nzSpan="24">
    <label nz-typography><strong>Descripción:</strong></label>
    <quill-editor name='descriptionString' [(ngModel)]="descriptionString" [placeholder]="''"
      [styles]="{height:'200px', width:'100%'}"></quill-editor>
  </div>
</div>

<div nz-row nzGutter="8" style="margin-top: 10px;" *ngIf="pollReadOnly===true">
  <div nz-col nzSpan="24">
    <label nz-typography><strong>Contenido HTML:</strong></label>
    <quill-editor name='pollHtmlContentString' [(ngModel)]="pollHtmlContentString" [placeholder]="''"
      [styles]="{height:'200px', width:'100%'}"></quill-editor>
  </div>
</div>

<div nz-row nzJustify="end" #nzFooter class="mt-10">
  <button nz-button nzType="primary" (click)="saveTranslation()" [nzLoading]="isLoading">Salvar</button>
</div>
