<div style="width:1600px; max-height: 800px; overflow-y: auto;">
  <nb-card>
    <nb-card-header>Detalles</nb-card-header>
    <nb-card-body>
      <div class="row">
        <div class="col-2 my-class" style="display:flex;justify-content: center;">
          <nb-user [onlyPicture]="true" [picture]="user.avatar===''?'assets/images/no-photo.png': user.avatar">
          </nb-user>
        </div>
        <div class="col-3">
          <div class="row">
            <label style="font-weight: bold;">Nombre:&nbsp;</label>{{userDet?.fullName}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">Usuario:&nbsp;</label>{{userDet?.username}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">IMC:&nbsp;</label>{{userDet?.imc | number:'.2-2'}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">kCal:&nbsp;</label>{{userDet?.kCal | number:'.2-2'}}
          </div>
        </div>
        <div class="col-3">
          <div class="row">
            <label style="font-weight: bold;">Edad:&nbsp;</label>{{userDet?.age}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">Sexo:&nbsp;</label>{{userDet?.sex===2?'Femenino': 'Masculino'}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">Estatura:&nbsp;</label>{{userDet?.height}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">Peso:&nbsp;</label>{{userDet?.weight}}
          </div>
        </div>
        <div class="col-4">
          <div class="row">
            <label style="font-weight: bold;">Medidas de Salud
              Actualizadas:&nbsp;</label>{{userDet?.healthMeasuresLastUpdate== null? "-" : userDet?.healthMeasuresLastUpdate | date:"dd/MM/yy"}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">Medidas de Valores
              Actualizada:&nbsp;</label>{{userDet?.valueMeasuresLastUpdate== null? "-" : userDet?.valueMeasuresLastUpdate | date:"dd/MM/yy"}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">Medidas de Bienestar
              Actualizada:&nbsp;</label>{{userDet?.wellnessMeasuresLastUpdate== null? "-" : userDet?.wellnessMeasuresLastUpdate | date:"dd/MM/yy"}}
          </div>
          <div class="row">
            <label style="font-weight: bold;">&Uacute;ltima Comida
              Planificada:&nbsp;</label>{{userDet?.lastPlanedEat == null? "-" : userDet?.lastPlanedEat | date:"dd/MM/yy" }}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <nb-tabset>
            <nb-tab tabTitle="Medidas de Valores" [lazyLoad]="true">
              test1
            </nb-tab>
            <nb-tab tabTitle="Medidas Bienestar" [lazyLoad]="true">
              test2
            </nb-tab>
            <nb-tab tabTitle="Comidas" [lazyLoad]="true">
              <details-eats [userId]="user.id"></details-eats>
            </nb-tab>
          </nb-tabset>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="basic" (click)="dismiss()" style="float: right;">Cancelar</button>
    </nb-card-footer>
  </nb-card>
</div>