<div>
  <div nz-row>
    <label nz-typography>Contraseña actual</label>
    <nz-input-group [nzSuffix]="suffixTemplate">
      <input [type]="oldPasswordVisible ? 'text' : 'password'" nz-input [formControl]="oldPass"
        class="ant-form-item-has-error" />
    </nz-input-group>
    <ng-template #suffixTemplate>
      <i nz-icon [nzType]="oldPasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="oldPasswordVisible = !oldPasswordVisible"></i>
    </ng-template>
    <ng-container *ngIf="oldPass.invalid && oldPass.touched">
      <p nz-typography class="error" *ngIf="oldPass.errors?.required">
        Debe introducir la contraseña actual.
      </p>
    </ng-container>
  </div>

  <div nz-row style="margin-top: 20px;">
    <label nz-typography>Nueva contraseña</label>
    <nz-input-group [nzSuffix]="newPassTemplate">
      <input [type]="newPasswordVisible ? 'text' : 'password'" nz-input [formControl]="newPass" />
    </nz-input-group>
    <ng-template #newPassTemplate>
      <i nz-icon [nzType]="newPasswordVisible ? 'eye-invisible' : 'eye'"
        (click)="newPasswordVisible = !newPasswordVisible"></i>
    </ng-template>
    <ng-container *ngIf="newPass.invalid && newPass.touched">
      <p nz-typography *ngIf="newPass.errors?.required" class="error">
        Debe introducir la nueva contraseña.
      </p>
      <p nz-typography *ngIf="!newPass.errors?.required" class="error">
        La contraseña debe tener: 6 caracteres, 1 caracter especial, 1 mayúscula y 1 número.
      </p>
    </ng-container>
  </div>


  <div nz-row style="margin-top: 20px;">
    <label nz-typography>Confirme nueva contraseña</label>
    <nz-input-group [nzSuffix]="newPassConfirmTemplate">
      <input [type]="newPasswordConfirmVisible ? 'text' : 'password'" nz-input [formControl]="confirmPass" />
    </nz-input-group>
    <ng-template #newPassConfirmTemplate>
      <i nz-icon [nzType]="newPasswordConfirmVisible? 'eye-invisible' : 'eye'"
        (click)="newPasswordConfirmVisible = !newPasswordConfirmVisible"></i>
    </ng-template>
    <ng-container *ngIf="confirmPass.touched && (confirmPass.dirty || confirmPass.value!==newPass.value)">
      <p nz-typography class="error" *ngIf="confirmPass.dirty && confirmPass.value!==newPass.value">
        Debe confirmar la nueva contraseña.
      </p>
    </ng-container>
  </div>
</div>
<div #nzFooter class="custom-footer">
  <button nz-button nzType="default" (click)="close()" style="margin-right:10px;">Cancelar</button>
  <button nz-button nzType="primary" (click)="changePassword()" [nzLoading]="isLoading"
    [disabled]="!oldPass.valid || !newPass.valid || !confirmPass.valid">Ok</button>
</div>
