.error{
  color: red;
  font-size: 10px;
}

.custom-footer{
    margin-top: 15px;
    text-align: right;
    background: 0 0;
    border-top: 1px solid #ccc;
    border-radius: 0 0 2px 2px;
    padding-top: 10px;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    -ms-border-radius: 0 0 2px 2px;
    -o-border-radius: 0 0 2px 2px;
}
