<div nz-row style="margin-bottom: 10px;" nzGutter="8">
  <div nz-col nzSpan="14">
    <h3 nz-typography>Menús</h3>
  </div>
</div>

<div nz-row style="margin-bottom: 10px;" nzGutter="8">
  <div nz-col nzSpan="12">
    <button nz-button nzType="primary" (click)="newMenu()">Nuevo Menú</button>
  </div>
  <div nz-col nzSpan="6">
    <nz-select [(ngModel)]="isActive" style="width:100%;" (ngModelChange)="onChangeSelection($event)">
      <nz-option [nzLabel]="'Todos'" [nzValue]="-1"></nz-option>
      <nz-option [nzLabel]="'Activo'" [nzValue]="1"></nz-option>
      <nz-option [nzLabel]="'Inactivo'" [nzValue]="0"></nz-option>
    </nz-select>
  </div>
  <div nz-col nzSpan="6">
    <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
      <input type="text" nz-input [(ngModel)]="searchTerm" />
    </nz-input-group>
    <ng-template #suffixIconButton>
      <button nz-button nzType="primary" nzSearch><i nz-icon nzType="search" (click)="search()"></i></button>
    </ng-template>
    <br>
    <a (click)="reset()" *ngIf="showReset==true" class="reset">Limpiar</a>
  </div>
</div>

<nz-table nzShowSizeChanger [nzData]="results" [nzFrontPagination]="false" [nzLoading]="isLoading" [nzTotal]="total"
  [nzPageSize]="perPage" [nzPageIndex]="page" [nzPageSizeOptions]="[5,10,15,20]" [nzSize]="'middle'"
  (nzQueryParams)="onQueryParamsChange($event)">
  <thead>
    <tr>
      <th nzColumnKey="name" [nzSortFn]="true">Nombre </th>
      <th nzColumnKey="isActive">Estado</th>
      <th nzColumnKey="calories">kCal</th>
      <th nzColumnKey="proteins">Proteinas</th>
      <th nzColumnKey="fats">Grasas</th>
      <th nzColumnKey="fibers">Fibra</th>
      <th nzColumnKey="carbohydrates">Carbohidratos</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of results">
      <td>
        {{data.name}}
      </td>
      <td>
        <span *ngIf="data.active" nz-typography [nzType]="'success'">Activo</span>
        <span *ngIf="!data.active" nz-typography [nzType]="'danger'">Inactivo</span>
      </td>
      <td>{{data.calories| number}}</td>
      <td>{{data.proteins| number}}</td>
      <td>{{data.fats| number}}</td>
      <td>{{data.fibers| number}}</td>
      <td>{{data.carbohydrates| number}}</td>
      <td>
        <i nz-icon nzType="check-circle" nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="'Activar'"
          [nzTheme]="'twotone'" [nzTwotoneColor]="'#1890ff'" style="cursor: pointer;margin-right:10px;"
          *ngIf="data.active===false" nz-popconfirm nzPopconfirmTitle="¿Confirma que desea habilitar este menú?"
          (nzOnConfirm)="activate(data)" nzPopconfirmPlacement="topLeft"></i>

        <i nz-icon nzType="stop" nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="'Desactivar'"
          [nzTheme]="'twotone'" [nzTwotoneColor]="'#1890ff'" style="cursor: pointer;margin-right:10px;"
          *ngIf="data.active===true" nz-popconfirm nzPopconfirmTitle="¿Confirma que desea desactivar este menú?"
          (nzOnConfirm)="deactivate(data)" nzPopconfirmPlacement="topLeft"></i>

        <i nz-icon nzType="edit" nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="'Editar'" [nzTheme]="'twotone'"
          [nzTwotoneColor]="'#1890ff'" style="cursor: pointer;margin-right:10px;" (click)="edit(data)"></i>

        <!--<i nz-icon nzType="contacts" nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="'Miembros'"
          [nzTheme]="'twotone'" [nzTwotoneColor]="'#1890ff'" style="cursor: pointer;margin-right:10px;"
          (click)="members(data)" *ngIf="data.isActive===true"></i>

        <i nz-icon nzType="dollar-circle" nz-tooltip nzTooltipPlacement="right" [nzTooltipTitle]="'Enviar monedas'"
          [nzTheme]="'twotone'" [nzTwotoneColor]="'#1890ff'" style="cursor: pointer;margin-right:10px;"
          (click)="sendCoins(data)" *ngIf="data.isActive===true"></i>
-->
      </td>
    </tr>
  </tbody>
</nz-table>
