::ng-deep .error {
  color: red;
  font-size: 10px;
}

::ng-deep .custom-footer {
  margin-top: 15px;
  text-align: right;
  background: 0 0;
  border-top: 1px solid #ccc;
  border-radius: 0 0 2px 2px;
  padding-top: 10px;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
}

::ng-deep .reset {
  cursor: pointer;
  font-size: 10px;
  color: #1890ff !important;
  float: right;
}

::ng-deep .reset:hover {
  font-weight: bold;
}
::ng-deep .mt-10{
  margin-top: 10px;
}

/* SCROLLS */
::ng-deep ::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::ng-deep ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

/* Handle */
::ng-deep ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /*background: rgba(255, 0, 0, 0.8);*/
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
/*END SCROLLS */
