<nz-tabset>
  <nz-tab nzTitle="Conceptos">
    <ng-template nz-tab>
      <app-concepts-translations></app-concepts-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Cuestionarios">
    <ng-template nz-tab>
      <app-polls-translations></app-polls-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Preguntas">
    <ng-template nz-tab>
      <app-questions-translations></app-questions-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Respuestas">
    <ng-template nz-tab>
      <app-answers-translations></app-answers-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Consejos">
    <ng-template nz-tab>
      <app-tips-translations></app-tips-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Recordatorios">
    <ng-template nz-tab>
      <app-reminders-translations></app-reminders-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Resultados">
    <ng-template nz-tab>
      <app-results-translations></app-results-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Platos">
    <ng-template nz-tab>
      <app-dishes-translations></app-dishes-translations>
    </ng-template>
  </nz-tab>
  <nz-tab nzTitle="Otros">
    <ng-template nz-tab>
      <app-general-content-translations></app-general-content-translations>
    </ng-template>
  </nz-tab>
</nz-tabset>
