<div style="width:1400px;">
  <nb-card>
    <nb-card-body>
      <div class="row">
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="inputConceptName" class="label">Nombre</label>
                <input type="text" nbInput fullWidth placeholder="Nombre" name="conceptName" [formControl]="conceptName"
                  [status]="conceptName.dirty ? (conceptName.invalid  ? 'danger' : 'success') : 'basic'"
                  [required]="true">
                <ng-container *ngIf="conceptName.invalid && conceptName.touched">
                  <p class="caption status-danger" *ngIf="conceptName.errors?.required">
                    Debe introducir un nombre para el concepto.
                  </p>
                </ng-container>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label class="label">Descripción</label>
                <textarea rows="5" nbInput fullWidth shape="round" placeholder="Descripción" name="conceptDescription"
                  [formControl]="conceptDescription" [status]="'basic'"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-8">
          <label class="label">Instrucciones</label>
          <my-tiny-mce [content]="instructions" (editorKeyup)="onContentChange($event)"></my-tiny-mce>
        </div>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton [disabled]="!conceptName.valid || isLoading===true" (click)="saveTranslation()">Salvar</button>
    </nb-card-footer>
  </nb-card>
</div>